.app {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.container {
  background-color: #f5f6fa;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

h1 {
  font-size: 6.5em;
  margin-top: 0;
}
